[Desktop Entry]
Type=Application
X-Nemo-Application-Type=generic
Icon=sample-sfos-qqc2
Exec=qt-runner /usr/bin/sample-sfos-qqc2
Name=Sample QQC2

[X-Sailjail]
Sandboxing=Disabled
